@using MVCCourse.Models;
@model List<Category>

@section title
{
    <h3> Categories </h3>
}
<br/>
<ul>
    @foreach (var category in Model)
    {
        <li>
            <a href="/categories/edit/@category.CategoryId">@category.Name</a>
        </li>
    }
</ul>