tr.highlight > td {
    background-color: dodgerblue;
}

@media print {
    body * {
        visibility: hidden;
    }

    #printarea, #printarea * {
        visibility: visible;

        #search-transactions, #print-transactions {
            visibility: hidden;
        }

    }

    #printarea {
        position: absolute;
        left: 0;
        top: 0;
    }
}